@import '../../styles/colors';
@import '../../styles/styles';


.background-color-1{
    background-color: $header-background-color;
}

header{
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100vh;

    &.extended{
        width: 20%;
    }

    //@include mq('tablet', 'max'){
    //    width: 100%;
    //}

    .left-links{
        flex: 1;
        display: flex;
        flex-direction: column;

        a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #FFFFFF;
            min-height: 50px;
            height: 50px;
            transition: 0.3s;

            &.active{
                background-color: darken($header-background-color, 10%);
                //border-bottom: 2px solid whitesmoke;

            }

            &:hover{
                background-color: darken($header-background-color, 5%);
            }
        }

    }

    .mid-links{
        @extend .left-links;


    }
    .right-links{
        @extend .left-links;

        div.search-button{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #FFFFFF;
            min-height: 50px;
            height: 50px;
            transition: 0.3s;

            position: relative;


            &.active{
                background-color: darken($header-background-color, 10%);
                //border-bottom: 2px solid whitesmoke;

            }

            &:hover{
                background-color: darken($header-background-color, 5%);
            }
            div.search-bar-container{
                position: absolute;
                top: 25%;
                left: 85%;
            }
        }

    }
}
