@import './colors';
@import './styles';


html, body{
    height: 100%;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    @include font-source-sans($size: 16px, $colour: $global-font-color, $weight: false,  $lh: false);
}
.js-main{
    overflow: hidden;
}

.text-input{
    padding: 5px;
    border-radius: 2px;
    border: none;

    &:focus{
        outline: none;
    }
}
.full-input{
    width: 100%;
}
